@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  --background: #fe0000;
  --foreground: #00ff0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #77abbf;
    --foreground: #2c2c53;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
